body  {
    background: #f6f8ee;
}
.pol {
    margin-top: 1%;
}
h1 {
    text-align: center;
    color: black;
}
p {
    margin-left: 18%;
    font-weight: 500;
    font-size: 12;
}
h2{
    margin-left: 18%;
    color: black;
}
h3{
    margin-left: 18%;
    color: black;
}
.pre{
    font-weight: bold;
}

